<div style="height: calc(100vh - 149px)">
  <p-table #dt
           [value]="passwordList"
           styleClass="p-datatable-passwords"
           dataKey="id"
           editMode="row"
           [tableStyle]="{'min-width': '50rem'}"
           [rowHover]="true"
           [filterDelay]="0"
           [globalFilterFields]="['userName', 'category']"
           [scrollable]="true"
           scrollHeight="flex">




    <ng-template pTemplate="caption">
      <div class="table-header">Şifre Listesi<span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal( $any($event.target).value, 'contains')" placeholder="Genel Arama" />
        <button pButton pRipple label="Çıkış yap" type="submit" (click)="logout()" class=" p-3 text-xl"></button>
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%" pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th style="width:20%" pSortableColumn="description">Açıklama<p-sortIcon field="name"></p-sortIcon></th>
        <th style="width:20%" pSortableColumn="url">url<p-sortIcon field="description"></p-sortIcon></th>
        <th style="width:20%" pSortableColumn="category">Kategori<p-sortIcon field="description"></p-sortIcon></th>
        <th style="width:20%" pSortableColumn="username">Kullanıcı adı<p-sortIcon field="description"></p-sortIcon></th>
        <th style="width:20%" pSortableColumn="password">Şifre<p-sortIcon field="description"></p-sortIcon></th>
        <th style="text-align: center; width: 20%">
          <button pButton pRipple autofocus type="button" icon="pi pi-plus" class="p-button-rounded p-button-outlined" pAddRow [table]="dt" [newRow]="newRow()"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData"
          [pContextMenuRow]="rowData"
          [ngClass]="{
          'editRecord': rowData.id === rowData.id.toString().indexOf(' '),
          'notRecord': !rowData.id.toString().indexOf(' ')}">
        <td>{{rowData.id}}</td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.description" pAutoFocus  [autofocus]="true" >
            </ng-template>
            <ng-template pTemplate="output">{{rowData.description}}</ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.url">
            </ng-template>
            <ng-template pTemplate="output">{{rowData.url}}</ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.category">
            </ng-template>
            <ng-template pTemplate="output">{{rowData.category}}</ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.userName">
            </ng-template>
            <ng-template pTemplate="output">{{rowData.userName}}</ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.password">
            </ng-template>
            <ng-template pTemplate="output">{{rowData.password}}</ng-template>
          </p-cellEditor>
        </td>

        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>

      </tr>
    </ng-template>

    <ng-template pTemplate="footer" class="flex justify-content-end flex-wrap" let-ri="rowIndex">
      <tr>
        <td colspan="9">
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>
